<div class="section page-header">
  <div class="py-5 container" style="min-height: auto;">
    <div class="row container pt-4 pt-md-6 pt-lg-8 pb-8 pb-lg-10 position-relative">
      <div class="gx-5 col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-5 fw-semibold lh-1">Cook delicious meals with Tasteastic</h1>
        <p class="lead text-muted my-4">
          With our collection of easy-to-follow recipes and helpful cooking
          tips, you'll be whipping up healthy, delicious meals in no time.
          <br/>Download our healthy recipe app today and start your journey to
          a healthier, happier you!
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <div role="button" class="btn-yellow px-4 me-md-2">Start Cooking</div>
        </div>
      </div>

      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg rounded">
        <img
          src="./assets/bootstrap-mock.png"
          width="720"
        />
      </div>

    </div>
  </div>
</div>

<section style="background-color: #e3f6f5">
  <div class="d-flex py-5 container justify-content-center text-center flex-column">

    <div class="section-header m-5">
      <h2>Tasteastic makes it easy to track your nutrients</h2>
      <p class="px-5">
        Nutrition is about eating a healthy and balanced diet. Food and drink provide the energy and nutrients you need
        to be healthy.
      </p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">

      <div class="col">
        <div class="card">
          <h3 class="card-title">
            <img width="34px" height="34px" src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/96/null/external-molecules-design-thinking-tanah-basah-glyph-tanah-basah.png"/>
            Amino Acids
          </h3>
          <div class="card-body">
            <p class="card-text">
              Amino acids are the building blocks of proteins. The body produces many amino acids and others come from
              food.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h3 class="card-title">Glucose</h3>
          <div class="card-body">
            <p class="card-text">Glucose — also called blood sugar — is the main sugar found in the blood and the main
              source of energy for your body.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h3 class="card-title">Calories</h3>
          <div class="card-body">
            <p class="card-text">A unit of energy in food. Carbohydrates, fats, protein, and alcohol in the foods and
              drinks we eat provide food energy or "calories."</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h3 class="card-title">Carbohydrates</h3>
          <div class="card-body">
            <p class="card-text">Carbohydrates are one of the main types of nutrients. It stores any extra sugar in your
              liver and muscles for when it is needed.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h3 class="card-title">Cholesterol</h3>
          <div class="card-body">
            <p class="card-text">Your body needs some cholesterol to make hormones, vitamin D, and substances that help
              you digest foods. Cholesterol is also found in some of the foods you eat. High levels of cholesterol in
              the blood can increase your risk of heart disease.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h3 class="card-title">Gluten</h3>
          <div class="card-body">
            <p class="card-text">Gluten is a protein found in wheat, rye, and barley. It can also be in products such as
              vitamin and nutrient supplements, lip balms, and certain medicines.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section style="background-color: #fffffe">
  <div class="py-5 container">

  </div>
</section>


