.btn-yellow {
  background-color: #ffd803;
  color: #272343;
  padding: 1rem 2rem;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-yellow:hover {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.page-header{
  background-color: #fffffe;
}

p{
  color: #2d334a !important;
}

h1{
  color: #272343 !important;
}

.card{
  background-color: rgb(255, 255, 254);
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  border: none;
  padding: 3rem;
  height: 100%;
}

.card-title{
  text-align: left;
  color: #272343;
}
.card-text {
  text-align: left;
  color: #2d334a;
}

.card-body{
  padding: 0;
  padding-top: 8px;
}
.section-header{
  display: flex;
  flex-direction: column;
}
