<div class="section bg-default">
  <div class="container page-header">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 shadow-lg"
    >
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">
          Cook delicious meals with Tasteastic
        </h1>
        <p class="lead my-4">
          With our collection of easy-to-follow recipes and helpful cooking
          tips, you'll be whipping up healthy, delicious meals in no time.
          <br />Download our healthy recipe app today and start your journey to
          a healthier, happier you!
        </p>
        <div
          class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
        >
          <button type="button" class="btn-yellow px-4 me-md-2">
            Start Cooking
          </button>
        </div>
      </div>

      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img
          class="rounded-lg-3"
          src="./assets/bootstrap-mock.png"
          alt=""
          width="720"
        />
      </div>
    </div>
  </div>
</div>
