.section {
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.form-check {
  display: flex;
  justify-content: flex-start;
}

.btn-primary{
  border-radius: 0.55rem !important;
}

a {
  text-decoration: none;
}

.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 0.1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

#background-img {
  border-top-right-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
}

.btn-google {
  border: 1px solid;
  border-radius: 0.55rem;
  padding: 8px;
}

.btn-google:hover {
  border-color: black;
  border-radius: 0.55rem;
  border-width: 1px;
  background-color: #4c8bf5;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card{
  border-radius: 25px;
  background: rgb(255,255,254);
  background: linear-gradient(130deg, rgba(255,255,254,1) 0%, rgba(240,243,248,1) 50%, rgba(231,234,239,1) 100%);
}

.card-body{
  padding: 0px !important;
}

.form-control{
  border-radius: 0.55rem;
}

#object-1{
  padding-left: 3rem !important;
}
